:host {
    & nb-card {

        height: 270px !important;
        
        & nb-card-header, 
        & nb-card-footer {
            font-size: 0.9rem;
        }
    }

    .scrollable {
        min-height: 105px;
        overflow-y: scroll;
    }

    .vault-title {
        margin-top: 1rem;
        & i.fa-lock {
            font-size: 5em;
        }
    }

    .icon-background {
        & i {
            top: 1rem;
            left: 5rem;
            opacity: 0.2;
            font-size: 4rem;
            position: absolute;
        }
    }
}