:host {
    .scrollable {
        min-height: 80px;
        overflow-y: scroll;
    }

    .vault-title {
        margin-top: 1rem;
        & i.fa-lock {
            font-size: 5em;
        }
    }

    .icon-background {
        & i {
            font-size: 4rem;
            position: absolute;
            opacity: 0.2;
            left: 5rem;
            top: 0.6rem;
        }
    }
}