<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-8 text-left p-0">
                        <strong class="float-left text-left">
                            <a href="#" class="text-indie-blue">Cashed Out</a>
                        </strong>
                    </div>
                    <div class="col-4 text-right p-0">
                        <strong class="align-middle float-left"><i class="fas fa-dollar-sign"></i></strong>
                        <strong class="align-middle float-right price">1,754.50</strong>
                    </div>
                </div>                         
                <div>
                    <span></span>
                </div>                     
            </nb-card-header>            
            <nb-card-body class="scrollable">       
                <span class="icon-background">
                    <i class="fas fa-cloud-download-alt"></i>
                </span>                            
                <div class="row p-1 entries">
                    <div class="col-5 text-right p-0">
                        <span class="float-right">
                            <i class="{{ entry.currency }}"></i>
                        </span>                                
                    </div>
                    <div class="col-1 p-0">&nbsp;</div>
                    <div class="col-6 text-left p-0">
                        <span>{{ entry.amount }}</span>
                    </div>
                </div>                             
            </nb-card-body>
            <nb-card-footer>
                <div class="row">
                    <div class="col-8 text-left p-0">
                        <strong class="float-left text-left">
                            Including Bonus
                        </strong>
                    </div>
                    <div class="col-4 text-right p-0">
                        <strong class="align-middle float-left"><i class="fas fa-dollar-sign"></i></strong>
                        <strong class="align-middle float-right price">1,754.50</strong>
                    </div>
                </div>                         
                <div>
                    <span></span>
                </div>    
            </nb-card-footer>
        </nb-card>
    </div>
</div>