:host {
    nb-card-header {
        font-size: 0.9rem;
    }

    .scrollable {
        max-height: 105px;
        overflow-y: scroll;
    }    

    .entries {
        font-size: 0.8rem;
    }

    .icon-background {
        & i {
            font-size: 5rem;
            position: absolute;
            opacity: 0.2;
            left: 5rem;
            top: 1rem;
        }
    }
    
}