<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col text-left">
                        <h4 class="float-left text-left">
                            <a href="#" class="text-indie-blue">Vault</a>
                        </h4>
                    </div>
                    <div class="col text-right">
                        <h4 class="align-middle float-left"><i class="fas fa-dollar-sign"></i></h4>
                        <h4 class="align-middle float-right price">1,754.50</h4>
                    </div>
                </div>                
                <div>
                    <span></span>
                </div>
            </nb-card-header>            
            <nb-card-body class="scrollable">      
                <span class="icon-background">
                    <i class="fas fa-lock"></i>
                </span>          
                <div class="row pl-2">
                    <!-- <div class="col-3 vault-title"> -->
                        <!-- <i class="fas fa-lock align-middle"></i> -->
                    <!-- </div> -->
                    <div class="col-12">
                        <div class="row p-1" *ngFor="let entry of vault_entries;let i = index;">                    
                            <div class="col-7 text-left p-0">
                                <span class="">{{ entry.reason }}</span>
                            </div>
                            <div class="col-1 text-right p-0">
                                <span class="float-right">
                                    <i class="{{ entry.currency }}"></i>
                                </span>
                            </div>
                            <div class="col-4 text-right p-0">
                                <span>{{ entry.amount }}</span>                        
                            </div>
                        </div>                              
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>