:host {
    .scrollable {
        max-height: 550px;
        overflow-y: scroll;
    }

    .vault-title {
        margin-top: 1rem;
        & i.fa-lock {
            font-size: 5em;
        }
    }

    .icon-background {
        & i {
            top: 3rem;
            left: 12rem;
            opacity: 0.2;
            font-size: 10rem;
            position: absolute;
        }
    }
}