:host {
    & .btn-stake-to-vault {
        height: 80px !important;
        font-size: 1.4rem !important;
    }
    
    & nb-card {
        height: 270px !important;

        & .bonus-entry {
            width: 85%;
            margin: 0 auto 0 auto !important;
        }
    }
}