<div class="row">
    <div class="col">
        <indie-new-payment-widget></indie-new-payment-widget>
    </div>
</div>
<div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <indie-inbox-widget></indie-inbox-widget>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-12 col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-12">
                <indie-stake-to-vault-widget></indie-stake-to-vault-widget>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <indie-cash-out-widget></indie-cash-out-widget>
            </div>
        </div>
    </div>
    <div class="col-xxl-5 col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col">
                <indie-vault-widget></indie-vault-widget>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <indie-pending-transfer-widget></indie-pending-transfer-widget>
            </div>
            <div class="col-6">
                <indie-cashed-out-summary-widget></indie-cashed-out-summary-widget>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <indie-last-payment-widget></indie-last-payment-widget>
    </div>
</div>