<div class="row">
    <div class="col-12">
        <nb-card>            
            <nb-card-body class="p-0 m-0">
                <div class="row m-2 mt-3 mb-3">
                    <div class="col text-center">
                        <button nbButton [status]="'primary'" hero fullWidth class="btn-stake-to-vault">
                            CASH OUT&nbsp;&nbsp;
                            <i class="fas fa-arrow-right"></i>
                        </button>     
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col">
                        <input type="text" nbInput fullWidth placeholder="Amount" fieldSize="small" />
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col">
                        <p>Will be transfered back to Inbox on <b>March 28th, 2021</b>.</p>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>